<!-- 
Note: See that I’ve used class to have a prefix of pie__. 
This is because in older browsers, we cannot isolate the DOM 
using shadow DOM. When styling the DOM, we won’t be accidentally 
styling, say, a class called name. 
-->

<template id="pie-chart-template">
  <link rel="stylesheet" href="./components/PieController/PieChart/PieChart.css">
  <div class="pie__chart-container">
    <h3 class="pie__title"></h3>
    <h2 class="pie__total"></h2>

  </div>
</template>
<script src="PieChart.js"></script>